#calendarWrap {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 9999;
}

#calendar {
	font-size: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 276px;
	-webkit-transform: translateX(-50%) translateY(-50%);
	background-color: white;
	border-radius: 2px;
	padding: 16px 8px;
	overflow: hidden;
}

#calendar ul>li>span {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 32px;
	text-align: center;
	font-size: 14px;
	color: #B4B4B4;
}

#calendar ul {
	margin: 0 8px;
	display: inline-block;
}

#calendar ul>li>span.nowMonth {
	color: #142882;
	background-color: #F0F0F0;
}

#calendar .week>li>span {
	color: #142882;
}

#calendar ul>li>span:not(:last-child) {
	margin-right: 6px;
}

#calendar ul>li:not(:last-child) {
	margin-bottom: 6px;
}

#calendarTop .select {
	margin-top: 4px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 0;
}

#calendarTop>.select>img {
	width: 28px;
	height: 28px;
	vertical-align: middle;
}

#calendarTop>.select>p {
	display: inline-block;
	font-size: 16px;
	color: #005CE0;
	margin: 0 16px;
	vertical-align: middle;
	width: 102px;
}

#colendarMainWrap {
	width: 276px;
	height: 222px;
	position: relative;
}

#colendarMain {
	width: 828px;
	position: absolute;
	left: -276px;
	transition-property: left;
	-webkit-transition-property: left;
	transition-duration: 200ms;
	-webkit-transition-duration: 200ms;
}

#colendarMain ul>li>span.active {
	background-color: #00A0DC;
	color: white;
}

#colendarMain ul>li>span:active {
	background-color: #00A0DC;
	color: white;
}

#calendarFooter {
	display: block;
	font-size: 16px;
	width: 160px;
	height: 40px;
	border-radius: 4px;
	background-color: #42B0FF;
	color: white;
	margin: 20px auto 14px auto;
}
#calendarFooter:active{
	background-color: #0F64C8;
}